/* our beacutiful css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1 {
    text-align: center;
}

body {
    background: beige;

}

form {
    width: 400px;
    margin: 20px auto;

}

form ul{
    margin-bottom: 10px;
    list-style-type: none;
}

fieldset {
    border: 1px solid thistle;
    padding: 10px;
}

label {
    display: block;
    margin-bottom:5px; 
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

textarea {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

input[type=submit] {
    display: block;
    margin-bottom: 10px;
}

.error{
    color: red;
    font-style: italic;
    text-align: center;
}